:root {
	--main-bg-color: coral;
	--btn--bg-color: #f5cb5c;
	--btn--bg-color-dark: #f8d77b;
}

::-moz-selection {
	/* Code for Firefox */
	color: black;
	background: #f5cb5c;
}

::selection {
	color: black;
	background: #f5cb5c;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	/* font-family: "Roboto", sans-serif; */
	font-family: "Poppins", sans-serif;
}

/*  Globals */
.btn {
	background-color: var(--btn--bg-color);
	border: none;
	color: black;
	transition: 0.5s;
}

.btn:hover {
	transform: scale(1.05);
	background-color: var(--btn--bg-color-dark);
	color: black;
}

.main-btn {
	background-color: #f5cb5c;
	border: none;
	padding: 8px 25px;
	border-radius: 25px;
	margin: 0 2px;
}

.heading-main {
	padding-top: 70px;
	text-align: center;
}

.hero-subheading {
	font-size: 35px;
}

#sites .heading-main {
	padding-top: 100px;
	text-align: center;
}

.subheading {
	padding: 20px 15px;
	text-align: center;
}

/* .subheading-small {
	padding: 20px 0;
	text-align: center;
	font
} */

.emphasize {
	color: #f5cb5c;
}

.emphasized-heading {
	background-color: #f5cb5c;
	padding: 0 5px;
}

/* Button animation */

.text-box {
	background-color: #81d4fa;
	font-weight: bold;
	margin-left: 44vw;
	margin-top: 42vh;
}
.btn2:link,
.btn2:visited {
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 40px;
	display: inline-block;
	border-radius: 100px;
	transition: all 0.2s;
	position: absolute;
}
.btn2:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn2:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn2-white {
	background-color: #fff;
	color: #777;
}
.btn2::after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all 0.4s;
}
.btn2-white::after {
	background-color: #fff;
}
.btn2:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}
.btn2-animated {
	animation: moveInBottom 5s ease-out;
	animation-fill-mode: backwards;
}
@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
/*  button animation end*/

.navbar {
	position: fixed;
	width: 100vw;
	z-index: 5;
	margin: 0 auto;
	background-color: black;
	color: white;
}

.navbar a {
	color: white;
}

.hero {
	height: 100vh;
	display: flex;
	/* background: url(../static/app1/images/the-milon-oNpC2mo0An0-unsplash.jpg) */
	background: url(../images/hero_image.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: rgba(15, 15, 15, 0.775);
	background-blend-mode: multiply;
}
.hero-section {
	margin: 0 auto;
	display: flex;

	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-heading {
	font-size: 5rem;
	color: white;
}

.jumbotron {
	background-color: rgba(32, 32, 32, 0);
	width: 100vw;
	display: flex;
	flex-direction: column;
	color: white;
	justify-content: center;
	align-items: center;
}

/**************** Sites section ******************/
.sites {
	height: 100vh;
	display: flex;
	flex-direction: column;
	margin-top: 100px;
}

.container-style {
	padding: 20px 15px;
	/* border: 1px solid black; */
	border-radius: 5px;
	margin: 1px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
}

.sites-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
}

.site-card {
	padding: 5px 15px;
	/* border: 1px solid; */
	width: 400px;
	height: 400px;
	border-radius: 5px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(67, 67, 71);
	color: white;
}
.site-card > p {
	font-size: 20px;
}

.site-btn {
	margin: 10px 0;
}
.siteImage {
	width: 300px;
	height: 200px;
	padding-top: 10px;
	margin-bottom: 20px;
	/* border-radius: 8px; */
}

/* Details styling */
/* .details-container {
							display: flex;
							justify-content: center;
							align-items: center;
						} */

#details-section {
	padding-top: 150px;
}
/* .sites-container {
							display: flex;
							flex-wrap: wrap;
							justify-content: center;
							align-items: center;
							margin-bottom: 100px;
						} */

.details-card {
	padding: 30px;
	/* border: 1px solid; */
	width: 800px;
	height: 500px;
	border: none;
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(67, 67, 71);
	color: white;
}

#details-section .carousel-cell {
	width: 66%;
	height: 600px;
	width: 900px;
	margin: 20px;
	background: rgb(255, 255, 255);
	/* margin-right: 10px; */
	border-radius: 8px;
	/* counter-increment: carousel-cell; */
	color: black;

	-webkit-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.75);
}

/* cell number */
.carousel-cell:before {
	display: block;
	text-align: center;

	/* line-height: 200px; */
	font-size: 80px;
	color: black;
}

/* Flickity */

.carousel {
	background: rgb(255, 255, 255);
	width: 100%;
}

.carousel-cell {
	width: 66%;
	height: 420px;
	width: 350px;
	/* margin-right: 10px; */
	background: rgb(255, 255, 255);
	border-radius: 8px;
	counter-increment: carousel-cell;
	color: black;

	-webkit-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.75);
}

/* cell number */
.carousel-cell:before {
	display: block;
	text-align: center;

	/* line-height: 200px; */
	font-size: 80px;
	color: black;
}

.site-card:hover {
	transition: 0.5s;
	transform: scale(0.95);
}

/******************** Services ***************/
#services {
	height: 100vh;
}
#services .heading-main {
	padding: 100px 0 20px 0;

	text-align: center;
}

.services-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0 50px 100px;
}

.service {
	background-color: #f5cb5c;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 220px;
	width: 180px;
	margin: 10px;
	padding: 10px;
	margin: 15px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.75);
}

.service:hover {
	animation: bounce 0.9s 1;
	cursor: pointer;
	transform: scale(1);
}

.service-heading {
	text-align: center;
	font-size: 20px;
}

.service-image {
	display: block;
	height: 85px;
	font-size: 50px;
}

.extra {
	padding-bottom: 20px;
}

/* Rubber band */
@keyframes bounce {
	from,
	20%,
	53%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: translate3d(0, 0, 0);
	}

	40%,
	43% {
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		transform: translate3d(0, -30px, 0) scaleY(1.1);
	}

	70% {
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		transform: translate3d(0, -15px, 0) scaleY(1.05);
	}

	80% {
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: translate3d(0, 0, 0) scaleY(0.95);
	}

	90% {
		transform: translate3d(0, -4px, 0) scaleY(1.02);
	}
}

/******************** Contact ********************/
#contact {
	height: 100vh;
	padding-bottom: 100px;
	background: url(../images/undraw_contact_us_15o2.png) no-repeat center
		center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: rgb(148, 148, 148);
	background-blend-mode: multiply;
}

#contact .heading-main {
	padding-top: 100px;
	text-align: center;
}

.contacts-container {
	margin: 100px 0;
	margin-bottom: 100px;
}

/* .contact-img {
	height: 600px;
	width: 750px;
} */

.contacts-sub-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact-btn {
	background-color: #f5cb5c;
	border: none;
	padding: 8px 25px;
	border-radius: 25px;
	margin: 5px 0;
}

.contact-text {
	background-color: #f5cb5c;
	padding: 5px 5px;
	border-radius: 2px;
	color: black;
}
/******************** Footer ********************/

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: fixed;
	/* position: absolute; */
	font-size: 13px;
	left: 0;
	bottom: 0;
	width: 100vw;
	height: 30px;
	background-color: rgba(0, 0, 0, 0.986);
	color: #fafafa;
	text-align: center;
	padding: 20px;
	z-index: 5;
}
footer a {
	color: #f5cb5c;
}
footer a:hover {
	color: #f1bb27;
	transition: 0.5s ease-in-out;
}
footer p {
	margin: 2px;
}
