{% extends 'base.html' %} {% block content %}
{% load static%}

<section id="contact">
	<h1 class="heading-main"><span class="emphasized-heading">Contact us</span>  </h2>
		<div class="contacts-container" style="display: flex;flex-direction:column;justify-content: center; align-items: center; margin:50px 0 ;">
			
					
					<b><p class="contact-text" >For any query get in touch: </p></b>
					<p class="contact-text"><i class="fas fa-phone-alt"></i> &nbsp; Kashinath Sawant: +91 99308 32594</p>
					<p class="contact-text"><i class="fas fa-envelope-open-text"></i>   &nbsp; sawantkaustubh05@gmail.com</p>
					<p class="contact-text"><i class="fas fa-envelope-open-text"></i>   &nbsp; dinkarsawnt1962@gmail.com</p>
				
				<a href="tel:+91 99308 32594"><button  class="contact-btn btn">  <i class="fas fa-phone-volume"></i> &nbsp; Give us a call  
						<br>
					</button></a>
					
					<a href="mailto: sawantkaustubh05@gmail.com" ><button  class="contact-btn btn"> <i class="fas fa-envelope-open-text"></i>  &nbsp; Send us an e-mail  </button></a>

					
					
					
					
					<a href="https://www.instagram.com/vaishali.enterprises/" target="_" ><button  class="contact-btn btn">  <i class="fab fa-instagram"></i> &nbsp; Follow us on insta  </button> </a>



				

		</div>
		
	
</section>

{% endblock %}

<!-- 
	<img src="{% static 'app1/images/contact_us_15o2.svg' %}" alt="" class="contact-img">  -->