{% extends 'base.html' %} {% block content %}

<section id="services">
    <h1 class="heading-main">   <span class="emphasized-heading"> Our Services</span> </h2>
        <h3 class="subheading">We <span class="emphasize">Specialize</span> in private and goverment <span class="emphasize">civil, painting, and interior</span> work</h3>
    <div class="services-container">
        <div class="service ">
            <i class="fas fa-paint-roller service-image"></i>
            <h4 class='service-heading'>Painting</h4> 
        </div>
        <div class="service"> 
            <i class="fas fa-wrench service-image"></i>
            <h4 class='service-heading'>Plumbing work</h3> 
        </div>
        <div class="service">
            <i class="fab fa-phabricator service-image"></i>
             <h4 class='service-heading'>Fabrication work</h3>
         </div>
        <div class="service">
              <img src="../static/app1/images/plaster.png" alt="" class="service-image" >
             <h4 class='service-heading'>POP work</h3> 
        </div>
        
        <div class="service"> 
            
        <img src="../static/app1/images/saw.png" alt="" class="service-image extra" >

            <h4 class='service-heading'>Carpentry work</h3>
        </div>
        
        <div class="service"> 
            <i class="fas fa-building service-image"></i>
            <h4 class='service-heading'>Building work</h3> 
        </div>
        
        <div class="service">
            <i class="fas fa-tools service-image"></i>
            <h4 class='service-heading'>External building repair</h3>
        </div>

        <div class="service"> 
            <i class="fas fa-brush service-image"></i>
            <h4 class='service-heading'>External painting of building</h3> 
        </div>
        <div class="service">
            <i class="fas fa-tint-slash service-image"></i>
            <h4 class='service-heading'>Waterproofing work</h3>
        </div>
        <div class="service">
        <img src="../static/app1/images/brickwall.png" alt="" class="service-image extra" >
            <br>
            <h4 class='service-heading'>Structural repair</h3>
        </div>
        <div class="service">
            <i class="fas fa-file-signature service-image"></i>
            <h4 class='service-heading'>Government Contracts</h3>
        </div>
        <div class="service">
              <img src="../static/app1/images/wall.png" alt="" class="service-image extra" >
            <h4 class='service-heading'>Demolition</h3>
        </div>
    </div>
</section>

{% endblock %}
